/* generali */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.conteiner{
  width: 100%;
}
h1{
  font-size: 5vh;
}
h2{
  font-size: 4vh;
}
h3{
  font-size: 3vh;
}
h4{
  font-size: 2vh;
}
.pdlr{
  padding: 0 10vw;
}
.pdt{
  padding-top: 4vh;
}
.clearfix:after{
  content: "";
  display: table;
  clear: both;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
li{
  display: inline-block;
}
a{
  text-decoration: none;
  color: #fff;
}
.button{
  display: inline-block;
  background-color: orange;
  border-radius: 5px;
  height: 7vh;
  line-height: 7vh;
  padding: 0 10px;
  font-weight: bold;
  color: #fff;
}
.button-head{
  height: 5vh;
  line-height: 5vh;
  padding: 0 6px;
  display: inline-block;
}
/* header */
header{
  width: 100%;
  height: 20vh;
  background-color: lightblue;
}
.header-top, .header-bottom{
  width: 100%;
  height: 10vh;
  line-height: 10vh;
}
.header-top{
  border-bottom: 1px solid black;
}
.header-bottom{
  background-color: #fff
}
.header-top ul:first-of-type li{
  padding-right: 1vw;
}
header a{
  color: black;
}
header .button-head-a{
  background-color: #fff;
  border: 1px solid orange;
  color: orange;
}
.header-top ul:nth-of-type(2) li, .header-bottom ul li{
  padding-left: 1vw;
}
.header-bottom > div > img{
  vertical-align: middle;
}
/* /header */
/* main */
/* sezione 1 main */
.sect1{
  height: 80vh;
  background-image: url("../img/jumbotron.png");
  background-size: cover;
  background-position: bottom;
  padding-right: 58vw;
  padding-top: 10vh;
}
/* /sezione1 main */
/* sezione2 main */
.sect2{
  background: #CBD6E2;
}
.sect2-head{
  text-align: center;
  padding: 4vh 15vw;
}
.sect2-middle{
  height: 45vh;
  border: 1px solid black;
  background-color: #fff;
}
.sect2-middle > div:first-child{
  width: 35%;
  text-align: center;
  padding-top: 7vh;
}
.sect2-middle > div:first-child img{
  width: 13vw;
}
.sect2-middle > div:last-child{
  width: 65%;
  padding-top: 5vh;
  padding-right: 10vw;
}
.sect2-middle > div:last-child > h4:after{
  background-color: black;
  content: '';
  display: inline-block;
  height: 2px;
  width: 27vw;
  vertical-align: middle;
  margin-left: 4vw;;
}
.sect2-bottom{
  margin-top: 5vh;
  padding-bottom: 5vh;
}
.sect2-bottom > div > div > img{
  height: 22vh;
}
.sect2-bottom > div{
  width: calc(100% / 3 - 1.33333333vw);
  border: 1px solid black;
  background-color: white;
  text-align: center;
}
.sect2-bottom > div > div:first-child{
  padding: 0 4vw;
}
.sect2-bottom > div:nth-child(2){
  margin: 0 2vw;
}
.sect2-bottom > div > div:nth-of-type(2){
  border-top: 1px solid black;
  margin: 8vh 3vw;
}
.sect2-bottom > div > div:nth-of-type(2) > div:first-of-type{
  text-align: left;
}
/* /sect2 main */
/* sect3 main */
.sect3{
  background-color: #00BDA5;
  text-align: center;
  color: #fff;
  padding-bottom: 8vh;
  padding-top: 5vh;
}
.sect3-box{
  margin-top: 7vh;
  height: 48vh;
}
.sect3-box > div{
  width: calc(100% / 4);
  height: 50%;
}
.sect3-box > div > *{
  padding-top: 2.5vh;
}
.sect3-box > div > img{
  height: 7vh;
}
.sect3-box > div > div:first-of-type{
  font-size: 4.5vh;
  font-weight: bold;
}
.sect3-box .br{
  border-right: 1px solid #fff;
}
.sect3-box .bb{
  border-bottom: 1px solid #fff;
}
/* /sect3 main */
/* sect-4 main */
.sect4{
  background-color: #fff;
  padding-top: 5vh;
  padding-bottom: 5vh;
  position: relative;
}
.sect4 > div:first-child{
  width: 35%;
}
.sect4 > div:first-child > div:first-child{
  width: 40%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: 10vh;
}
.sect4 > div:first-child > div:first-child > div:first-child{
  font-weight: bold;
  font-size: 6vh;
}
.sect4 > div:last-child{
  width: 65%;
  padding-left: 5vw;
}
.sect4 > div:last-child > div:first-child{
  padding-right: 5vw;
  padding-top: 2vh;
}
.sect4 > div:last-child > div:first-child > div{
  padding: 0 1vw;
  width: calc(100% / 4);
}
.sect4 > div:last-child > div:first-child > div > img{
  height: 6vh;
  width: 100%;
}
.sect4 > div:last-child > img{
  width: 18vw;
  position: absolute;
  bottom: 5vh;
  right: 10vw;
}
/* /sect-4 main */
/* /main */
/* footer */
footer{
  background-color: rgb(51, 71, 91);
  color: #fff;
}
.footer-top > div{
  width: calc(100% / 4);
}
footer .button{
  background-color: lightgray;
  height: 6vh;
  line-height: 6vh;
  color: black;
}
.footer-top > div:nth-of-type(4) > div > a{
padding-right: 2vw;
}
.footer-bottom{
  padding-top: 8vh;
}
.footer-bottom >div:first-of-type{
  text-align: center;
}
.footer-bottom > div > ul > li{
  padding-right: 1vw;
}
.footer-bottom > div:nth-of-type(2){
  border-top: 1px solid #fff;
  margin-top: 2vh;
  padding-bottom: 4vh;
}
